body {
  margin: 0;
  background: #121212;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  height: 100vh;
  font-family: sans-serif;
  color: #f0f0f0;
}

#viewer-container {
  width: 400px;
  height: 500px;
  margin-top: 20px;
}

#skinCanvas {
  width: 100%;
  height: 100%;
  display: block;
}
