body {
  margin: 0;
  background: #121212;
  color: #f0f0f0;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  height: 100vh;
}

#viewer-container {
  width: 400px;
  height: 500px;
  margin-top: 20px;
}

#skinCanvas {
  width: 100%;
  height: 100%;
  display: block;
}

#input-container {
  margin-top: 15px;
}

#usernameInput {
  padding: 8px;
  font-size: 1rem;
  width: 200px;
}

#loadBtn {
  padding: 8px 12px;
  font-size: 1rem;
  margin-left: 8px;
  cursor: pointer;
}
